h1 {
    font-weight: 800;
    padding-left: 550px;
    color: rgb(255, 255, 255);
    font-family: 'Asap Condensed', sans-serif;
}

h2{
    padding-left: 650px;
    font-size: medium;
    color: rgb(255, 255, 255);
    font-family: 'Asap Condensed', sans-serif;
}

p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Asap Condensed', sans-serif;
}

.ground{
    font-weight: 600;
    color:rgb(255, 255, 255);
    font-family: 'Asap Condensed', sans-serif;
}

.pollen{
    font-weight: 100;
color: rgba(255, 255, 255, 0.5);
}

.rose{
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding-left: 40px
    
}

.leaf1{
    padding-left: 30px;
}

body{
    background-color: rgb(7, 63, 15);
}

